http:
  routers:
    flask-router:
      rule: "PathPrefix(`/`)"
      service: flask-service
      entryPoints:
        - web
      priority: 1
  services:
    flask-service:
      loadBalancer:
        servers:
          - url: "http://hall-flask:5000"
