# Configuration Traefik pour Hall
api:
  dashboard: true
  insecure: true
  debug: true

log:
  level: INFO

entryPoints:
  web:
    address: ":80"

  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false
    network: hall-network
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@audit-io.fr
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: web

accessLog: {}
